@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

.backGroundIndex {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../media/topDesk.jpeg');
    background-size: cover;
    background-position: center;
}

a {
    text-decoration: none;
}

.linksPrincipales {
    background-color: white;
    padding: 5px;
    margin: 5px;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: blueviolet;
    color: white;
}

.clase {
    background-color: white;
    color: blueviolet;
}

.cadaJob {
    height: 200px;
    object-fit: contain;
}